.filters-wrapper {
  width: 280px;
  font-size: 0.9rem;
  user-select: none;
}

.filters-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 10px;
}

.hide-filter-btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
}

.hide-filter-btn:hover {
  text-decoration: underline;
  color: #444;
}

.checkbox-label {
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.filter-categories {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.filter-category {
  user-select: none;
}

.category-header {
  all: unset;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  color: #111;
}

.arrow {
  font-weight: 900;
}

.filter-options {
  margin-top: 6px;
  list-style: none;
  padding-left: 18px;
  color: #666;
  font-weight: 400;
}

.filter-options li {
  margin-bottom: 6px;
}

.filter-options input {
  margin-right: 8px;
}

/* Responsive */
@media (max-width: 992px) {
  .filters-wrapper {
    width: 100%;
    margin-bottom: 24px;
  }
}
